[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
isort = "*"
black = "==21.11b1"
pre-commit = "*"
pylint = "*"
seed-isort-config = "*"
green = "*"
tox = "*"
tox-gh-actions = "*"

[packages]
"github3.py" = "*"
flask = "*"
pyyaml = "*"
ldap3 = "*"
apscheduler = "*"
python-dotenv = "*"
msal = "*"
okta = "*"
asyncio = "*"
onelogin = "*"
certifi = "*"
setuptools = "*"
cryptography = "*"
werkzeug = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.9"
