---
mapping:
  - github: demo-team
    directory: ldap super users
  - github: demo-team-2
    directory: another-group
  - github: demo-team-org
    org: demo-org
    directory: avengers group

# Only sync groups with matching prefixes
#group_prefix:
#  - TEST-
#  - DEMO-

ignore_users:
  - userA
  - userB
  - userC
